# Frontend
/videoGameCatalogManager/node_modules
/videoGameCatalogManager/dist
/videoGameCatalogManager/tmp
/videoGameCatalogManager/out-tsc
/videoGameCatalogManager/bazel-out
/videoGameCatalogManager/.angular
/videoGameCatalogManager/.vscode